/*
body {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    height: 100vh; 
    margin: 0;
}
.image-container {
    background-color: lightblue;
    padding: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.add-nodes-container {
    background-color: lightgreen;
    padding: 20px;
}
*/

:root {
    --background: #0f0915;
    --primary: #b68adf;
    --secondary: #51148b;
}

button {
    color: #221e27!important;
    background-color: #b68adf!important;
}

body {
    background-color:rgb(24, 22, 35);
    /* height: 100%; */
    height:100vb
}

#container {
    
}

svg {
    overflow: visible;
}


.edit-form-container {
    background-color: lightcoral;
    color: #dff9fb;
    padding: 20px;
}

.edit-form {
    display: none; /* Hide forms by default */
    color: #ffffff;
}

.edit-form.active {
    display: block; /* Show the form when active */
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

.everything {
    background-color: #4e84e9; 
    max-height: 100vh; 
}

.right-container {
    background-color: #0f0915; 
    max-height: 100vh; 
}

.left {
    background-color: #0f0915; /* Light gray for visibility */
    height: 100vh; /* Full height of the viewport */
        border-right-color: grey;
    border-right-width: 50px;
}
.top-right {
    background-color: #51148b; /* Blue for visibility */
    color: #18161c;
    height: 30vh; /* Half of the right side */
}
.bottom-right {
    background-color: #e94e77; /* Pink for visibility */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 70vh; /* Set a max height */
}
.content {
    padding: 10px; /* Add some padding */
}

.image-container {
    overflow: hidden;
    position: relative;
    width: 50vw;
    height: 100vh; /* I can't make this 100% for some reason, so all of this code will be optimized for specifically this laptop I suppose*/
    cursor: grab; /* Indicate draggable area */
}

.image-container img {
    transition: transform 0.2s; /* Smooth transition for zooming */
    transform-origin: center center; /* Zooming from center */
    max-width: none; /* Prevent the image from being constrained */
    position: absolute; /* Allow positioning */
    top: 0; 
    left: 0; 
}
